@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;

.navbar {
  @include css-reset;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 100vw;

  &-logo {
    width: 135px;
    height: 135px;
  }

  &.expanded {
    .sub-menu {
      opacity: 1;
      height: 400px;
      width: 400px;
    }
    span:nth-child(2) {
      overflow: visible;
    }
    span:nth-child(1),
    span:nth-child(3) {
      z-index: 100;
      transform: rotate(45deg);
    }
    span:nth-child(1) {
      transform: rotate(45deg) translateY(6px) translateX(6px); 
    }
    span:nth-child(2) {
      height: 300px; 
      width: 300px; 
      right: -120px;
      top: -120px;
      border-radius: 50%;
      background-color: rgba(125, 161, 119, 0.5);
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translateY(-6px) translateX(6px); 
    }
    li {
      margin-right: 100px; 
    }
  }

  &-list {
    display: flex;
    flex-direction: column;

    &__item {
      list-style-type: none;
    }
  }
}

.open {
  position: fixed;
  top: 28px;
  right: 78px;
  width: 40px; 
  height: 40px; 
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
  color: #7DA177;

  &:hover {
    opacity: 0.8;
  }

  span {
    display: block;
    float: left;
    clear: both;
    height: 3px;
    width: 30px; 
    border-radius: 30px; 
    background-color: #7DA177;
    position: absolute;
    right: 5px;
    top: 0px;
    overflow: hidden;
    transition: all 0.4s ease;

    &:nth-child(1) {
      margin-top: 6px; 
      z-index: 9;
    }
    &:nth-child(2) {
      margin-top: 15px; 
    }
    &:nth-child(3) {
      margin-top: 24px; 
    }
  }
}

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  right: 0;
  top: 0;
  position: absolute;
  background-color: rgba(125, 161, 119, 0.5);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;

  li {
    display: block;
    float: right;
    clear: both;
    height: auto;
    margin-right: -160px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &:first-child {
      margin-top: 180px;
    }
    &:nth-child(1) {
      -webkit-transition-delay: 0.05s;
    }
    &:nth-child(2) {
      -webkit-transition-delay: 0.10s;
    }
    &:nth-child(3) {
      -webkit-transition-delay: 0.15s;
    }
    &:nth-child(4) {
      -webkit-transition-delay: 0.20s;
    }
    &:nth-child(5) {
      -webkit-transition-delay: 0.25s;
    }

    a {
      color: black;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: 16px;
      width: 100%;
      display: block;
      float: left;
      line-height: 40px;
    }
  }
}
