@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;

body {
  font-family: $font-family;
}

.product {
  font-size: $font-family;
  @include mobile-subheader;
  color: $font-color;
  padding: 1rem;

  &-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 20px;
    margin-bottom: 1rem;
    padding: 1rem;
  }
}

.product-card {
  position: relative;
  overflow: hidden;
  border: 1px solid $font-color;
  border-radius: $product-card-border-radius;
  margin: 10px;
  width: 100%; // Adjusted width to 100% for responsiveness
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  .box-up {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;

    .img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border-top-left-radius: $product-card-border-radius;
      border-top-right-radius: $product-card-border-radius;
      transition: transform 0.5s ease-in-out;
    }

    .img-info {
      position: absolute;
      width: 100%;
      bottom: 0;
      background: rgba(255, 255, 255, 0.95);
      padding: 15px;
      box-sizing: border-box;
      transform: translateY(100%);
      transition: transform 0.5s ease-in-out;

      .info-inner {
        .p-name {
          font-size: 1.5rem;
          margin-bottom: 10px;
          font-weight: bold;
          transition: color 0.3s ease-in-out;
        }

        .p-company {
          font-size: 1rem;
          color: #555;
          transition: color 0.3s ease-in-out;
        }
      }

      .a-size {
        margin-top: 15px;
        font-size: 1rem;
        color: $font-color;
        transition: color 0.3s ease-in-out;
      }
    }
  }

  .box-down {
    width: 100%;
    height: 60px;
    position: relative;
    overflow: hidden;

    .h-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: $font-color;
      transition: left 0.5s ease-in-out;
    }

    .cart {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #fff;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      overflow: hidden;

      .price {
        font-size: 1.5rem;
        margin-right: 10px;
        @include mobile-labels-buttons; // Added here
        transition: transform 0.5s ease-in-out, color 0.3s ease-in-out;
      }

      .add-to-cart {
        background-color: $body-color;
        padding: 15px 30px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.5s ease-in-out;

        .txt {
          font-size: 1rem;
          color: $font-color;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          @include mobile-labels-buttons; // Added here
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }

  &:hover {
    transform: scale(1.05) translateZ(0);
    box-shadow: $product-card-shadow;
  }

  &:hover .box-up .img {
    transform: scale(1.2);
  }

  &:hover .box-up .img-info {
    transform: translateY(0);

    .info-inner {
      .p-name,
      .p-company,
      .a-size {
        color: #4caf50;
      }
    }
  }

  &:hover .box-down .h-bg {
    left: -100%;
  }

  @include tablet {
    width: 100%; // Adjusted width to 100% for responsiveness
  }

  @include desktop {
    width: 100%; // Adjusted width to 100% for responsiveness
    margin: 30px 0; // Adjusted margin for responsiveness
  }
}
