
@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variable" as *;

body {
  overflow-x: hidden; // To remove the horizontal scroll
}

// Styling for the carousel container
.carousel-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 2rem 0;
  @include mobile-body-copy;
  font-family: $font-family;

  // Styling for the scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7DA177;
  }

  // Styling for the carousel navigation buttons
  .slick-prev,
  .slick-next {
    font-size: 0; // Hide the text
    color: #7DA177; // Arrow color
    background-color: transparent; // Arrow background color
    width: 40px; // Set the width of the arrow
    height: 40px; // Set the height of the arrow
    top: 50%; // Adjusted top position

    &:hover {
      color: #5e8e5e !important; // Arrow color on hover
    }

    &::before {
      content: ""; // Hide the text content
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .slick-prev {
    left: 10px;
    &::before {
      content: url('../../assets/Icons/previous.svg'); // Replace 'path-to-your-left-arrow-svg.svg' with the actual path to your left arrow SVG
    }
  }

  .slick-next {
    right: 10px;
    &::before {
      content: url('../../assets/Icons/next.svg'); // Replace 'path-to-your-right-arrow-svg.svg' with the actual path to your right arrow SVG
    }
  }

  .slick-slider {
    width: 100%;
    overflow: visible !important; // Fix for arrow visibility
  }

  // Adjusting slick-list margins
  .slick-list {
    margin: 0 -10px;
  }
}

// Styling for category cards
.category-card {
  width: 95% !important;
  margin: 1rem auto;
  overflow: hidden;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: 150px; 
    object-fit:scale-down;
  }

  // Styling for card summary
  .card-summary {
    padding: 12px;

    h3 {
      font-family: $font-family;
      color: $font-color;
      text-align: center;
    }

    // Styling for 'Explore' link
    a {
      display: block;
      padding: 0.5rem 1rem;
      background-color: #7DA177;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #5e8e5e;
      }
    }
  }

  // Scaling effect on hover
  &:hover {
    transform: scale(1.05);
  }

  // Media query for smaller screens
  @media screen and (min-width: 769px) {
    width: calc(33.33% - 16px);
    margin-right: 16px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  // Media query for larger screens
  @media screen and (min-width: 1200px) {
    width: calc(25% - 16px);

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
// Styling for blog cards
.blog-card {
  width: 95% !important;
  margin: 1rem auto;
  overflow: hidden;
  position: relative;
  font-family: $font-family;
  @include mobile-body-copy;

  img {
    display: block;
    width: 100%;
    height: 150px; 
    object-fit:scale-down;
  }

  // Styling for card summary
  .card-summary {
    padding: 12px;

    h3 {
      font-family: $font-family;
      color: $font-color;
      text-align: center;
    }

    // Styling for 'Read More' link
    a {
      display: block;
      padding: 0.5rem 1rem;
      background-color: #7DA177;
      color: #fff;
      text-align: center;
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #5e8e5e;
      }
    }
  }

  // Scaling effect on hover
  &:hover {
    transform: scale(1.05);
  }

  // Media query for smaller screens
  @media screen and (min-width: 769px) {
    width: calc(33.33% - 16px);
    margin-right: 16px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  // Media query for larger screens
  @media screen and (min-width: 1200px) {
    width: calc(25% - 16px);

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
